# Environment
.env
.env.*
!.env.sample

# PHP
/vendor/
*.cache

# IDE
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Project specific
/var/*
!/var/.gitkeep
/docker/volumes/*
!/docker/volumes/.gitkeep

# OS
.DS_Store
Thumbs.db
